<nav role="navigation" id="navi">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>Chi.Siamo</a></li>
    <li><a href="/lowtech" {% if page.url == "/lowtech" %}class="active"{% endif %}>Low.Tech.Web</a></li>
	    <li><a href="/tags" {% if page.url == "/tags" %}class="active"{% endif %}>Tags</a></li>
    <li><a href="/follow" {% if page.url == "/follow" %}class="active"{% endif %}>Sintonizzati</a></li>
  </ul>
</nav>
