html {
  box-sizing: border-box;
  margin:0; 
  padding:0; 
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background-color: #000000;
    color: #000000;
}

header, main {
	margin: 0 auto;
    max-width: 50rem;
}

#intro {
	text-align: center;
	color:white;
	padding:200px 0px 200px 0px;
}

#logo {
	padding:50px 0px 50px 0px;
}

#slogan {
	font-weight: bold;
    font-style: italic;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10rem,auto);
    grid-gap: 1rem
}

.card {
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 10rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 1 1 10rem
}

@supports (display:grid) {
    .card {
        margin: 0;
        background: #96d0c3
    }
}

.card {
  //min-height: 100%;
  background: #1f1f1f;
  //display: flex;
  //flex-direction: column;
  text-decoration: none;
  //position: relative;
  //top: 0;
  color: yellow;
  	border-width: 1rem 0rem 0rem 0rem;
	border-style:solid;
	border-color:yellow;
	
}

.summary {
	color:white;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card a {
	text-decoration: none;
}

.card p { 
  font-size: 0.9rem;
}

.card h2 {
  font-size: 1.3rem;
  margin: 0;
}

.card time {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.card .meta {
   padding: 2rem;
   display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.post {
	background: #1f1f1f;
	color:white;
	border-width: 2rem 0rem 0rem 0rem;
	border-style:solid;
	border-color:yellow;
	padding: 2rem 3rem;
}


.card {
	transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    transform: scale(1.02);
  }
}
ul, ol {
	padding: 0;
	list-style-position: inside;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 100%;
    margin: 0.5rem 0;
}

/* img[alt=cover] {
    width: 75%;
	display: block;
      margin-left: auto;
	  margin-right: auto;
	text-align: center;
} */

nav {
    ul {
        list-style: none !important;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
        }
    }
    a, a:visited {
        margin: 0.5rem;
        text-decoration: none;
	    text-transform: uppercase;
	    color: yellow;
		font-family:sans-serif;
	    font-size: 0.8rem;
	    font-weight: 500;
	    letter-spacing: .05em;
	    //opacity: 0.6;
    }
	a:hover {
		color:white;
	}
}

footer {
    margin: 1rem 0;
    text-align: center;
}

.tags-expo-section {
    ul{
        list-style:none;
        margin-top: -1.1rem;
        margin-bottom: 2em;
    }
    }
    
.container {
    position:relative;
    width: 75%;
      margin-left: auto;
	  margin-right: auto;
      text-align: center;
}

.textbox {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.text {
  color: yellow;
  font-size: 1.5vw;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: normal;
}

.text .smalltext {
   font-size: 1vw;
   font-style:italic;
}

.cover {
	display: block;
      transition: .8s ease;
}

.linkbox {
	font-weight:bold;
}


.container:hover, .container:focus, .container:active {
    .textbox {
  opacity: 0.80;
}
    .cover {
        filter: grayscale(100%);
    }

}


.container_newsletter {
    position:relative;
    width: 75%;
      margin-left: auto;
	  margin-right: auto;
      text-align: center;
}