body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a,a:visited {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

h1, h2, h3, h4, h5, nav a {
	font-weight: 500;
}

h1, h2 {
	color:yellow;
}

.Y {
	color:yellow;
}

.didascalia {
	color:grey;
	font-style:italic;
}

#titolopag {
	/* font-weight: bold; */
	font-size: 36px;
	color: yellow;
	font-family: sans-serif;
	text-transform:uppercase;
}

blockquote {
  background: #5a5a5a;
  border-left: 5px solid yellow;
  font-size: 120%;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 80%;
	color:yellow;
	font-style:italic;
	text-align:left;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

code, .highlight {
    background: #919599;
    overflow: auto;
}
code {
	word-break: break-all;
}

code {
	padding: 0.1rem 0.3rem;
}

pre {
  padding: 1em;
}

.date {
	color:yellow;
	opacity:1;
}