/* Hide ribbon */
.hider-ribbon .workspace-ribbon.mod-left {
  display:none;
}
.hider-ribbon .workspace-ribbon.mod-right {
  visibility:hidden;
}
.hider-ribbon .workspace-split.mod-right-split {
  margin-right:0;
}
.hider-ribbon .workspace-split.mod-left-split {
  margin-left:0;
}

/* Frameless */
.hider-frameless .titlebar-button-container {
  display:none;
}
.hider-frameless .titlebar,
.hider-frameless .titlebar-inner {
  position:fixed;
  top:0;
  height:12px;
  background:transparent;
}
.hider-frameless {
  padding-top:0 !important;
}
.hider-frameless .workspace-split.mod-left-split > .workspace-tabs {
  padding-top:18px;
}

/* Hide scrollbars */
.hider-scroll ::-webkit-scrollbar {
  display:none;
}

/* Hide status */
.hider-status .status-bar {
  display:none;
}

/* Hide tooltips */
.hider-tooltips .tooltip {
  display:none;
}