@charset "UTF-8";
body.plugin-cm-show-whitespace {
  /* feel free to override these characters if you want */
  --spaceChar: "·";
  --tabChar: "→";
  --newlineChar: "¬";
}
body.plugin-cm-show-whitespace .cm-whitespace::before,
body.plugin-cm-show-whitespace .cm-tab::before,
body.plugin-cm-show-whitespace .CodeMirror-code > div > pre > span::after,
body.plugin-cm-show-whitespace .CodeMirror-line > span::after {
  pointer-events: none;
  color: var(--text-faint);
  font-weight: normal;
  opacity: 0.5;
}
body.plugin-cm-show-whitespace [class*=cm-trailing-space]::before {
  content: var(--spaceChar);
}
body.plugin-cm-show-whitespace .cm-tab::before {
  content: var(--tabChar);
}
body.plugin-cm-show-whitespace .CodeMirror-code > div > pre > span::after,
body.plugin-cm-show-whitespace .CodeMirror-line > span::after {
  content: var(--newlineChar);
  position: unset;
}
body.plugin-cm-show-whitespace .cm-whitespace::before,
body.plugin-cm-show-whitespace .cm-tab::before {
  position: absolute;
}
body.plugin-cm-show-whitespace .cm-s-obsidian span.cm-inline-code.cm-whitespace::before {
  line-height: 2em;
}
body.plugin-cm-show-whitespace .CodeMirror-code > div:last-child > pre > span::after {
  display: none;
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-1:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-2:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-3:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-4:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-5:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-6:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-7:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-8:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-9:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-10:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-11:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-12:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-13:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-14:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-15:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}
body.plugin-cm-show-whitespace .CodeMirror .cm-whitespace-16:not([class*=cm-trailing-space-])::before {
  content: var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar) var(--spaceChar);
}