---
layout: default
title: Home
published: true
---

<div class="grid">

<div id="intro">
	<img id="logo" src="\img\logoRdjallo.svg" onerror="this.onerror=null; this.src='\img\logoRdjallo.png'">
	<p id="slogan">La <span class="Y">D</span> è muta, parla la<span class="Y"> musica</span>.</p>
</div>

  {% for post in site.posts %}
  
    <article role="article" class="card">
	    <div class="meta">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a></h2>
      <p class="summary">{{ post.summary }}</p>
        <!--<time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>-->
	    </div>
  
    </article>
    
  {% endfor %}
  
   </div>
