---
layout: compress
---

<!DOCTYPE html>
<html lang="it">

  {% include head.html %}

  <body>
     {% include masthead.html %}

      <main id="main" role="main">
	      
        {{ content }}
      </main>

    {% include footer.html %}

  </body>
</html>
