---
layout: newsletter_struct
published: true
---



<article role="article" class="post" style="text-align:center;">
	<div class="post-meta">
	<h2>Radio.Djallo.Newsletter</h2>
	<time class="date" datetime="{{ page.date | date_to_xmlschema }}">
	{{ page.date | date: "%-d" }}
{% assign m = page.date | date: "%-m" %}
{% case m %}
  {% when '1' %}Gennaio
  {% when '2' %}Febbraio
  {% when '3' %}Marzo
  {% when '4' %}Aprile
  {% when '5' %}Maggio
  {% when '6' %}Giugno
  {% when '7' %}Luglio
  {% when '8' %}Agosto
  {% when '9' %}Settembre
  {% when '10' %}Ottobre
  {% when '11' %}Novembre
  {% when '12' %}Dicembre
{% endcase %}{{ page.date | date: "%Y" }}</time>
	<hr style="height:2px; border:none; margin: 2rem 0; background-color:#e7e9ee;">
  <h1>{{ page.title }}</h1>
  	</div>
{{ page.description }}
  <br>
    <br>
  <div class="container_newsletter">
  <img src="{{ page.img | absolute_url }}" alt="Cover del disco" class="cover" style="width:100%">
  </div>
    <br>
  <a class="Y" href="{{ page.url | absolute_url | remove: "newsletter"}}">Leggi l'articolo</a>
  <br>
  
                   
 <hr style="height:2px; border:none; margin: 2rem 0; background-color:#e7e9ee;">
 
 <p class="didascalia">Ricevi questa mail perché sei iscrittə alla newsletter di Radio.Djallo:  <br> se ti abbiamo scocciato, <a href="https://noise.autistici.org/mailman/listinfo/radio.djallo">puoi cancellare la tua iscrizione seguendo questo link.</a></p>

</article>
