---
layout: compress
---

<!DOCTYPE html>
<html lang="it">

  <style type="text/css">
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>  

  <body>


      <main id="main" role="main">
	      
        {{ content }}
      </main>

    {% include footer.html %}

  </body>
</html>
