---
layout: default
---
<article role="article" class="post">
  <h1 id="titolopag">{{ page.title }}</h1>



<div class="grid">

{% assign sortedResources = site.newsletter | sort: 'date' | reverse %}
  {% for post in sortedResources %}
  
    <article role="article" class="card">
	    <div class="meta">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a></h2>
      <p class="summary">{{ post.summary }}</p>
        <!--<time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>-->
	    </div>
  
    </article>
    
  {% endfor %}

   </div>
   
   </article>