---
layout: default
published: true
---



<article role="article" class="post">
	<div class="post-meta">
	<time class="date" datetime="{{ page.date | date_to_xmlschema }}">
	{{ page.date | date: "%-d" }}
{% assign m = page.date | date: "%-m" %}
{% case m %}
  {% when '1' %}Gennaio
  {% when '2' %}Febbraio
  {% when '3' %}Marzo
  {% when '4' %}Aprile
  {% when '5' %}Maggio
  {% when '6' %}Giugno
  {% when '7' %}Luglio
  {% when '8' %}Agosto
  {% when '9' %}Settembre
  {% when '10' %}Ottobre
  {% when '11' %}Novembre
  {% when '12' %}Dicembre
{% endcase %}{{ page.date | date: "%Y" }}</time>
  <h1>{{ page.title }}</h1>
  	</div>

  {{ content | extlinks }}
  
  <br>
  
  <p>
      {% for tag in page.tags %}
      <a href="/tags#{{tag}}">{{tag | replace:'-', ' ' }}</a>{% unless forloop.last %}&#160; {% endunless %}{% endfor %}
    </p>
                   
 <hr style="height:2px; border:none; margin: 2rem 0; background-color:#e7e9ee;">

</article>
