---
layout: default
---

<article role="article" class="post">
{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% for tag in tags %}
	<h1 id="{{ tag | slugify }}">{{ tag }}</h1>
	<ul>
	 {% for post in site.posts %}
		 {% if post.tags contains page.tag %}
		 <li>
		 <a href="{{ post.url }}">
		 {{ post.title }}
		 <!-- <small>{{ post.date | date_to_string }}</small> -->
		 </a>
		 {% for tag in post.tags %}
			<span class="didascalia" style="text-decoration: none;> <a class="tag" href="/tag/{{ tag | slugify }}">{{ tag | replace:'-', ' ' }}</a> </span>
		 {% endfor %}
		 </li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
</article>