---
layout: default
---

<article role="article" class="post">
    <h1 id="titolopag">{{ page.title }}</h1>
<div>
  <div class="tags-expo-list">
    {% for tag in site.tags %}    
    <nobr><a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] | replace:'-', ' ' }} //&nbsp;{{ tag | last | size }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nobr>
    {% endfor %}
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for tag in site.tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] | replace:'-', ' ' }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <!-- <small class="post-date">{{ post.date | date_to_string }}</small> -->
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>

<ul>
{% for tag in tags %}
 <li>
    <a href="/tag/{{ tag | first | slugify }}/">{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</a>
</li>

{% endfor %}
</ul>

</article>